.card-list {
  margin-bottom: 60px;
}
.loading {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.cari {
  font-size: 20px;
}
