.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-list {
  width: 90%;
}
.button {
  margin-top: 50px;
  margin-bottom: 90px;
  font-size: 16px;
  background-color: #2c7da0;
  padding: 15px;
}

.loading {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
