
.containernav {
  width: 100%;
  padding: 10px 0px;
  left: 0;
  max-width: 768px;
  bottom: 0;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(39, 39, 39);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top: black;
  padding-top: 10px;
  padding-bottom: 5px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Verdana;
  font-size: 12px;
  transition: transform 0.3s ease; /* Added transition property */
}

.iconWrapper:hover {
  transform: scale(1.1); /* or any other transform you prefer */
}
.icon {
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
  font-size: 19px;
}
