* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-left: 10px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.App {
  background-color: rgb(245, 245, 245);
}
